.main {
  padding: 24px 33px;
  display: flex;
  flex: 1 0 100px;
  background-color: #F5F5F5;
}

.header {
  position: sticky;
  top: 0;
  order: -1;
}

.header,
.footer {
  width: 100%;
  height: 85px;
  background: #333;
  color: #fff;
}

.container {
  height: 100%;
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.basket {
  width: 32px;
  height: 32px;
}

.footer_links {
  color: #fff;
  font-size: 20px;
  line-height: 1;
}
